APP_NAME="PoesyLiang Blog API"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=psworld_12017
DB_USER=
DB_PASS=

JWT_SECRET=
JWT_TTL=10080

API_TOKEN=

POESYLIANG_NET_API_BASE_URL=http://poesyliang.net/api.php
POESYLIANG_NET_BEARER_TOKEN=
POESYLIANG_COM_API_BASE_URL=http://archive.poesyliang.com/api.php
POESYLIANG_COM_BEARER_TOKEN=

PAGINATION_LIMIT=5000

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

L5_SWAGGER_GENERATE_ALWAYS=false
L5_SWAGGER_CONST_HOST=http://localhost
